<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Users</key>
	<array>
		<dict>
			<key>userName</key>
			<string>Lucio</string>
			<key>dob</key>
			<string>10-10-1995</string>
			<key>profileImage</key>
			<string>Lucio</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>Lucas</string>
			<key>dob</key>
			<string>10-10-1995</string>
			<key>profileImage</key>
			<string>Lucas</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>Jasmine</string>
			<key>dob</key>
			<string>10-10-1995</string>
			<key>profileImage</key>
			<string>Jasmine</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>Ray</string>
			<key>dob</key>
			<string>10-10-1995</string>
			<key>profileImage</key>
			<string>Ray</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>Tea</string>
			<key>dob</key>
			<string>10-10-1995</string>
			<key>profileImage</key>
			<string>Tea</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>Erik</string>
			<key>dob</key>
			<string>10-10-1995</string>
			<key>profileImage</key>
			<string>Erik</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>Luna</string>
			<key>dob</key>
			<string>10-10-1995</string>
			<key>profileImage</key>
			<string>Luna</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>Frank</string>
			<key>dob</key>
			<string>10-10-1995</string>
			<key>profileImage</key>
			<string>Frank</string>
		</dict>
		<dict>
			<key>userName</key>
			<string>TH</string>
			<key>dob</key>
			<string>10-10-1995</string>
			<key>profileImage</key>
			<string>TH</string>
		</dict>
	</array>
</dict>
</plist>
